slide-viewer{
    position: relative;
    overflow: hidden;
    height:300px;
    bottom: 200px;
}

.slide-group{
    width: 100%;
    height: 100%;
    position: relative;
}

.slide{
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}

.slide img
{
    width: 100%; 
    height: 450px;
}

.slide:first-child{
    display: block;
}

.slide-buttons{
    position: absolute;
    text-align: center;
    margin: 0;
    padding: 0;
}
.slide-buttons button{
    background-color: rgba(0,0,0,0.0);
    color: #ffffff;
    font-size: 3em;
    border: none;
}
