.jLastic{
    position:relative;
    margin: auto;
    overflow:visible;
}
.jLastic .tile{
    background-color:white;
    display:block;
    border-radius:5px;
    position:absolute;
    background-size:cover;
    border:5px solid white;
    cursor:pointer;
    box-shadow:1px 1px 20px #000;
    background-repeat:no-repeat;
    background-position:center;
}

@media screen and (max-width: 600px) {
    .jLastic{
        width: 60% !important;
        position:relative;
        margin: auto;
        overflow:visible;
    }
    .jLastic .tile{
        background-color:white;
        display: block;
        border-radius:5px;
        position:absolute;
        background-size:cover;
        border:5px solid white;
        cursor:pointer;
        box-shadow:1px 1px 20px #000;
        background-repeat:no-repeat;
        background-position:center;
    }
}