body{
    background-color: #232323;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    overflow: hidden;
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Audiowide', cursive; 
    line-height: normal;
}

q{
    font-size: 1.2em;
}

hr{
    color: #1f4756;
}

header{
    width: 100%;
    height: auto;
    background-color: #B2B2B2;
    box-shadow: 0px 2px 2px #232323;
    padding: 10px 10px;
    overflow: hidden;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.8);
    z-index: 10;
}

header h1{
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 2em;
    display: inline-block;
}

header a {
    float: left; 
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 1em; 
    line-height: 25px;
    display: inline-block;
}
  
.header-right{
    float: right;
    width: 70%;
    margin-top: 0;
    padding-top: 0;
}

.logo{
    margin: 10px;
    width: 110px;
    height: auto;
}

header nav ul 
{
    list-style-type: none;  
    text-decoration: none;   
    text-align: center; 
}

header nav li{
    display: inline-block; 
    padding: 15px;
    margin: 5px;
    background-color: #666666;
    border-radius: -30px 15px -30px 15px;
    border: 3px solid #1f4756;
}

header nav li a{
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

header nav li:hover{
    background-color: #1f4756;
}

#active{
    background-color: #1f4756;
}

.branding{
    width: 20%;
    float: left;
    margin: 10px;
    padding-top: 0px;
    color: #232323;
}

.branding h2{
    font-size: 1em;
}

footer{
    width: 100%;
    height: auto;
    background-color: #B2B2B2;
    position: relative; 
    bottom: 0; 
    text-align: center;
    padding-top: 10px;
    color: #232323;
    overflow: hidden;

}

footer nav ul 
{
    list-style-type: none;  
    text-decoration: none;   
    text-align: center; 
}

footer nav li{
    display: inline-block; 
    padding: 5px 15px 5px 15px;
    margin: 5px;
}

footer nav li a{
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: underline;
}

footer nav li:hover{
    background-color: #1f4756;
}

main{
    margin-bottom: 100px; 
}

.mainContent{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: left;
    margin-bottom: 0px;
    float: left;
    padding: 20px;
    border-top: 1px solid #666666;
}
.mainContent img{
    width: 30%;
    float: right;
    margin-right: 15px;
}
.mainContent p{
    float: left;
    margin-left: 5px;
}

.mainContent q{
    float: left;
}

.column {
    float: left;
    width: 30%;
    text-align: center;
    padding: 10px;
}

.row{
    padding: 30px 0px 30px 0px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Alternating Section Code */
.section-left{
    background: #ffffff;
    color: #232323;
    text-align: left;
    display: block;
    padding: 0px; 
    float: left;
    border-left: 5px solid #1f4756;
    border-bottom: 5px solid #1f4756;
    width: 100%;
}

 .section-left p{
    width: 70%;
    float: left;
    display: block;
} 

.section-left h2{
   -webkit-text-stroke-width: 0.7px;
   -webkit-text-stroke-color:#ffffff;
} 

.section-left img{
    width: 30%;
    height: auto;
    float: left;
    margin-right: 10px;
    display: block;
}
.section-left a{
    color: #ffffff;
    text-decoration: none;
}
.section-left a:hover{
    color:#1f4756;
    text-decoration: none;
    text-shadow: .2px .2px 1px #000000;
}
.section-left a:visited{
    color:#1f4756;
    text-decoration: none;
}
.section-left .social-icon
{
    width: 18px;
    height: 18px;
    float: left;
}

.section-left .text-content a{
    
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    float: left;
    width: 200px;
    height: auto;
    border: none;
}

.section-right{
    background: #232323;
    color: #ffffff;
    text-align: left;
    display: block; 
    padding: 0px; 
    float: left;
    border-right: 5px solid #1f4756;
    border-bottom: 1px solid #1f4756;
    width: 100%;
}
 .section-right p{
    width: 60%;
    float: left;
    display: block;
}

.section-right h2{
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color:#ffffff;
}

.section-right img{
    width: 30%;
    height: auto;
    float: right;
    margin-right: 10px;
    display: block;
}
.section-right a{
    color: #232323;
    text-decoration: none;
}
.section-right a:hover{
    color:#1f4756;
    text-decoration: none;
    text-shadow: .5px .5px 1px #000000;
}
.section-right a:visited{
    color:#1f4756;
    text-decoration: none;
}
.section-right .social-icon
{
    width: 18px;
    height: 18px;
    float: left;
    filter: invert();
}

.section-right .text-content a {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    float: left;
    width: 200px;
    height: auto;
    border: none;
    color: #ffffff;
    margin-left: 15px;
}

.location-display iframe{
   display: none;
}

.social-links{
    text-decoration: none;
    float: left;
}

.social-links li{
    display: inline-block;
    margin-top: 10px;

}

.social-media-panel{
    padding: 0;
    margin: 0 auto;
    float: left;
}

.text-content{
    margin-left: 40px;
}


/* Contact form styles */
.contact-form{
    background-color: #ffffff;
    color: #000000;
    width: 50%; 
    height: 580px;
    margin: 0;
    margin-left: auto;
    margin-right: 0;
    padding: 20px;
    float: left;
    border: 5px inset #232323;
}

.contact-form input{
    display: inline-block;
}

.contact-form input[type=textarea]{
    width: 85%;
}
  
input {
    margin-left: 1em;
    margin-bottom: .5em;
    width: 220px;
}

input[type="radio"] {
    width: 10px;
}

input[type="checkbox"] {
    width: 15px;
}
.required{
    font-weight: bold;
    color: #ff0000;
}

#button{
    margin-left: 138px;
}
#button, #reset{
    margin-top: .5em;
    width: 8em;
    background-color: #1f4756;
    border: 2px solid #000000;
    color: #ffffff;
    text-transform: uppercase;
}

aside{
    width: 30%;
    height: 100%;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
}

aside iframe{
    width: 100%;
    height: 450px;
    float: left;
    margin-left: 40%;
}

.icon{
    filter: invert(60%);
    width: 20%;
    height: auto;
}

/* Table formatting */
.user-info{
    max-width: 85%;
    margin: 0 auto;
    border: 1px double #ffffff;
    background-color: #ffffff;
    color: #232323;
    text-transform: uppercase;
    padding: 15px;
}

.user-info th{
    background-color: #1f4756;
    color: #ffffff;
}

td{
    border: 1px solid #232323;
    background-color: #B2B2B2;
    color: #232323;
    padding: 5px;
    font-weight: bold;
}

#user-data{
    width: 100%;
    text-align: center;
    height: 400px;
    float: left; 
    background-color: rgba(0, 0, 0, 0.6);
}

.faq-footnote a{
    color: #1f4756;
    text-decoration: underline;
}


/* Media Queries for added responsive layout */
@media screen and (max-width: 600px) {
    .branding{
        display: block;
        width: 100%;
        text-align: center;
        float: left;
    }

    .logo{
       margin-left: 38%;
       display: block; 
    }

    header{
        padding: 0;
    }

    header a {
        float: none;
        display: block;
        text-align: left;
        margin-left: 0;
    }
    
    .header-right {
        width: 100%;
        display: block;
    }

    .header-right ul{
        width: 100%;
        padding: 0px;
        margin: 0;
    }

    .header-right li{
        width: 100%;
        margin: 0;
        padding: 15px;
        
    }
    header{
        padding-bottom: 0;
    }

    .contact-form{
        width: 100%;
        overflow: hidden;
    }
    
    .contact-form input{
        max-width: 85%;
    }

    aside{
        width: 100%;
        height: 100%;
        float: left;
        margin: 0;
        padding: 0;
        text-align: left;
    }
    aside iframe{
        width: 100%;
        height: 480px;
        margin: 0;
        border: none;
    }

    .column {
        width: 100%;
    }

    .location-display iframe{
        display: block;
        margin-bottom: 25px;
     }
}

  
